/* 标题区域，60*280 内容区域(图片)520*280 */
.ctboxs{
	width: 520px;
	height: 427px;
	position: relative;
	overflow: hidden;
	border:5px solid orange;
}
.ctboxs .ctbox {
	width: 578px;
	height: 338px;
/* 	display: flex; */
	position: absolute;
	top: 0;
}
.ctboxs .ct1{top: 0;}
.ctboxs .ct2{top: 316.4px;}
.ctboxs .ct3{top: 352.8px;}
.ctboxs .ct4{top: 389.2px;}
.ctboxs .ctbox .title {
	color: #fff;
	font-size: 22px;
	line-height: 35px;
  padding:3px 168px 0;
	cursor: pointer;
	left: 0;
}
.ctboxs .ct1 .title {
	background: rgb(0, 0, 127);
}
.ctboxs .ct2 .title {
	background: rgb(238, 136, 0);
}
.ctboxs .ct3 .title {
	background: rgb(126, 127, 0);
}
.ctboxs .ct4 .title {
	background: rgb(35, 97, 173);
}